<h1>Listing comments</h1>

<ul id='tickets'>
  <% @post.comments.each do |comment| %>
    <li>
      #<%= comment.id %> - <%= link_to comment.text, [@post, comment] %>
    </li>
  <% end %>
</ul>

<%= link_to 'New comment', new_comment_path %>